# name: Build and Deploy to AWS ECS

# on:
#   push:
#     branches: ["prod"]

# env:
#   AWS_REGION: us-east-1
#   ECR_URI: 590184125804.dkr.ecr.us-east-1.amazonaws.com
#   ECR_REPO: 590184125804.dkr.ecr.us-east-1.amazonaws.com/store-dev
#   ECS_CLUSTER: store-dev-cluster
#   ECS_SERVICE: store-dev-service-urxper59
#   ECS_TASK_FAMILY: store-dev

# jobs:
#   deploy:
#     runs-on: ubuntu-latest

#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v4

#     - name: Set dynamic image tag
#       id: vars
#       run: |
#         IMAGE_TAG=$(date +'%Y%m%d')-${GITHUB_SHA::7}
#         echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
#         echo "Image tag: $IMAGE_TAG"

#     - name: Configure AWS credentials
#       uses: aws-actions/configure-aws-credentials@v4
#       with:
#         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
#         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#         aws-region: ${{ env.AWS_REGION }}

#     - name: Login to Amazon ECR
#       run: |
#         aws ecr get-login-password --region $AWS_REGION \
#         | docker login --username AWS --password-stdin $ECR_URI

#     - name: Build, tag, and push Docker image
#       run: |
#         docker build -t store-dev .
#         docker tag store-dev:latest $ECR_REPO:${{ env.IMAGE_TAG }}
#         docker push $ECR_REPO:${{ env.IMAGE_TAG }}

#     - name: Register new ECS task definition revision
#       run: |
#         TASK_DEF=$(aws ecs describe-task-definition --task-definition $ECS_TASK_FAMILY)
#         NEW_TASK_DEF=$(echo $TASK_DEF | \
#           jq --arg IMAGE "$ECR_REPO:${{ env.IMAGE_TAG }}" \
#           '.taskDefinition | .containerDefinitions[0].image = $IMAGE | {family: .family, containerDefinitions: .containerDefinitions, executionRoleArn: .executionRoleArn, networkMode: .networkMode, volumes: .volumes, placementConstraints: .placementConstraints, requiresCompatibilities: .requiresCompatibilities, cpu: .cpu, memory: .memory}')
#         echo "$NEW_TASK_DEF" > new-task-def.json
#         aws ecs register-task-definition --cli-input-json file://new-task-def.json

#     - name: Update ECS service to new revision
#       run: |
#         aws ecs update-service \
#           --cluster $ECS_CLUSTER \
#           --service $ECS_SERVICE \
#           --task-definition $ECS_TASK_FAMILY \
#           --force-new-deployment

name: Push the Docker image to AWS ECR Repo
on:
  push:
    branches:
      # - dev
      - qa
      # - prod
jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get branch name
        id: vars
        run: echo ::set-output name=stage::${GITHUB_REF#refs/*/}
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ steps.vars.outputs.stage == 'PROD' && secrets.AWS_ACCESS_KEY_ID_PROD || secrets.AWS_ACCESS_KEY_ID_DEV_QA }}
          aws-secret-access-key: ${{ steps.vars.outputs.stage == 'PROD' && secrets.AWS_SECRET_ACCESS_KEY_PROD || secrets.AWS_SECRET_ACCESS_KEY_DEV_QA }}
          aws-region: us-east-1
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Generate Image name
        id: get-ecr-image-name
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY_NAME: store-repository
          IMAGE_TAG: ${{ github.sha }}
        run: echo "::set-output name=ecr-image-name::$ECR_REGISTRY/$ECR_REPOSITORY_NAME:$IMAGE_TAG"
      - name: Build, tag, and push the image to Amazon ECR
        id: build-image
        env:
          ECR_IMAGE_NAME: ${{ steps.get-ecr-image-name.outputs.ecr-image-name }}
        run: |
          docker build -t $ECR_IMAGE_NAME .
          docker push $ECR_IMAGE_NAME
      - name: Render Amazon ECS task definition
        id: ecs-cd-starter-container
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition/${{steps.vars.outputs.stage}}.json
          container-name: ${{ github.event.repository.name }}-${{steps.vars.outputs.stage}}
          image: ${{ steps.get-ecr-image-name.outputs.ecr-image-name }}
      - name: Deploy to Amazon ECS service
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: ${{ steps.ecs-cd-starter-container.outputs.task-definition }}
          service: ${{ github.event.repository.name }}-${{steps.vars.outputs.stage}}
          cluster: mk-${{steps.vars.outputs.stage}}
